/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'materialize';


@media only screen and (max-width: 992px) {
  /* line 288, /usr/local/rvm/gems/ruby-2.4.1/gems/materialize-sass-0.98.2/app/assets/stylesheets/materialize/components/_global.scss */
  .hide-on-med-and-down {
    display: block !important;
  }
  
  nav .brand-logo {
    left: 10% !important ;
    transform: translateX(-50%);
  }
  
  nav ul a {
    font-size: 20px !important;
  }
  
  table tr th{
    font-size: 22px;
  }
  table tr td{
    font-size: 22px;
  }
  
  .btn, .waves-effect, .waves-light, .pink{
     font-size: 20px  !important;
  }
}

header, main, footer{
  padding-left: 0px !important;
}



